body {
    margin-bottom: 35px ;
    background-image: url("../img/grunge-wall.png");
}

html{
    position: relative;
    min-height: 100%;
}

nav {
    font-size: 1.20em !important;
}

.navbar-brand {
    font-size: 1.35em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.bg-company-gold {
    background-color: #193b69;
}

.nav-item .nav-link {
    color: white;
    transition: color 0.5s ease-in-out;
}

.nav-item:hover .nav-link:hover {
    color: #01a4ff;
}

table {
    font-size: 1.25em;
    margin-bottom: 50px;
}

table td, th {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


#hoursTable td {
    padding-right: 25px;
}

.titleCentering {
    display: block;
    width: 100%;
    text-align: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0171C3 !important;
}

.container_replacement{
    margin: 2.5%;
}

.classForm{
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
}

.draggable {
    cursor: move;
}

.inline{
    display: inline;
}

footer .nav-link{
    color: white !important;
}

footer {
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 100%;

}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #193b69; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.key{
    margin: 5px;
}
.big-checkbox {
    width: 20px; height: 20px;
}
.hoverClick:hover{
    cursor: pointer;
}
